body {
    scroll-snap-type: y mandatory;
}

.sections {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sections::-webkit-scrollbar {
    display: none;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic_info {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}

#avatar_img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 1px solid rgb(81, 81, 81);
    background-color: black;
    animation: slideInLeft 1s;
}

.basic_info_detail-animation {
    animation-name: slideInRight;
}

.basic_info_detail-animation:nth-child(1) {
    animation-duration: 1s;
}

.basic_info_detail-animation:nth-child(2) {
    animation-duration: 1.3s;
}

.basic_info_detail-animation:nth-child(3) {
    animation-duration: 1.6s;
}

.basic_info_detail-social-animation {
    height: 100px;
    animation: slideInUp 1.9s;
}

@media only screen and (max-width: 820px) {
    .basic_info {
        grid-template-columns: auto;
    }

    #avatar_img {
        height: 180px;
        width: 180px;
    }

    .avatar {
        text-align: center;
    }

    h1,
    h6 {
        text-align: center;
    }
}
